.homepage-container {
    display: grid;
    grid-template-columns: 2fr 3.7fr 2.3fr 2fr;
    margin: 4vh 0;
}

.homepage-posts-container {
    width: 100%;
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-posts-container {
    width: 37%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-posts-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

article {
    width: 95%;
    display: grid;
    grid-template-columns: 1fr;
    background-color: white;
    margin: 2%;
    padding: 2%;
    border: 1px solid #e6e6e6;
}

.post-card-header {
    display: flex;
    align-items: center;
}

.post-card-header-text {
    margin-left: 10px;
}

.post-card-header-user_name {
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
}

.post-card-header-location {
    font-size: 12px;
}

.post-card-image {
    width: 33vw;
    object-fit: contain;
    margin: 2% 0;
    justify-self: center;
}

.post-card-likes-count {
    font-weight: bold;
}

.post-card-caption {
    margin-left: 10px;
}

.post-card-time-duration {
    font-size: 11px;
    color: #999;
    margin: 2% 0;
}

.existing-comment {
    display: inline;
}

.existing-comment-content {
    font-size: 14px;
}

.post-card-dividing-line {
    height: 1px;
    width: 100%;
    background-color: #dbdbdb;
}

.post-card-comment {
    display: inline;
    margin: 1% 0%;
}

.comment-time-ago {
    font-size: 10px;
    color: #999;
}

.post-card-comment-box {
    width: 90%;
    all: unset;
    margin-inline: 1%;
}

.post-button {
    all: unset;
    float: right;
    color: #30618A;
    padding: 1% 2%;
}

.sidebar-container {
    width: 95%;
    display: flex;
    flex-direction: column;
}

.sidebar {
    width: 96%;
    margin: 2%;
    padding: 5%;
    background-color: white;
    border: 1px solid #e6e6e6;
}

.sidebar-logged-in-user {
    display: flex;
}

.sidebar-logged-user-username-fullname {
    margin-left: 1.6rem;
}

.sidebar-logged-user-username {
    all: unset;
    font-weight: bold;
    font-size: 16px;
}

.sidebar-logged-user-full-name {
    font-size: 14px;
    color: #999;
}

.user-details {
    all: unset;
}

.follow-button {
    all: unset;
    float: center;
    color: #30618A;
    padding: 1% 2%;
}

.suggestions-list {
    margin: 40px 0;
}

.suggestions {
    display: grid;
    grid-template-columns: 4fr 1fr;
    margin: 4% 0;
}

.sidebar-footer-copyright-text {
    font-size: 12px;
    color: #999;
    margin-left: 15%;
}